@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
  body{
      margin: 0;
      font-size: 16px;
      background-color: #02221f;
      font-family: 'Montserrat' sans-serif;
      font-weight: 400;
  }
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      outline: none;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #02221f;
  
  }
  
  .welcome_text {
    width: 400px;
  }
  
 
  .welcome_form input,
  .welcome_form button {
    display: block;
    width: 100%;
  }
  
  .welcome_form input {
    background-color: transparent;
    color: #cccccc;
    /* color: #fff; */
    font-size: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #cccccc;
    /* border-bottom: 1px solid #fff; */
    margin-bottom: 15px;
  }
  
  .welcome_form input:focus {
    outline: none;
  }
  
  .welcome_form button , .btn {
    /* padding: 20px 0; */
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0,0.5);
    background: rgb(255, 255, 255 , 0.1);
    color: #009688;
    font-size: 22px;
    transition: 0.4s all;
  }
  
  .welcome_form button:hover , .btn:hover  {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
  }
  .custom-box{
      /* background-color: #ffffff; */
      max-width: 700px;
      margin: 40px auto;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0,0.5);
      background: rgb(255, 255, 255 , 0.1);
      border-top:1px  solid  rgba(255, 255, 255,0.5);
    border-left:1px  solid  rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    animation: fadeInRight 1s ease;
  }
  @keyframes fadeInRight{
      0%{
          transform: translateX(40px);
          opacity: 0;
      }
      100%{
          transform: translateX(0px);
          opacity: 1;
      }
  }
.custom-box.hide{
    display: none;
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

  .home-box h3{
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 15px;
      line-height: 25px;
  }
  .home-box p{
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 22px;
      color: #000000;
      font-weight: 400;
  }
  .home-box p span{
      font-weight: 500;
  }
  .home-box .btn{
      margin-top: 20px;
  }
  /* .btn{
      padding: 15px 45px;
      background-color: #02221f;
       color: #ffffff;
      border: none; 
      border-radius: 100px;
     box-shadow: 20px 20px 50px rgba(0, 0, 0,0.5);
     font-family: 'Montserrat' , sans-serif;
     cursor: pointer;
     font-size: 16px;
     display: inline-block;
  
    } */

    .quiz-box .quiz_user{
        font-size: 18px;
        color: #cccccc;
        font-weight: 600;
        text-align: left;
        line-height: 25px;
        padding-top: 10px;
    }

    .quiz-box .question-number {
        font-size: 20px;
        color: #009688;
        font-weight: 600;
        border-bottom: 10px;
        line-height: 25px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        text-align: right;
    }
    .quiz-box .question-text{
        font-size: 22px;
        color: #000000;
        line-height: 28px;
        font-weight: 400;
        padding: 20px 0;
        margin: 0;
    }
 .quiz-box .next-question-btn,
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .answer-indicator,   
.quiz-box .option-container{
    width: 100%;
    float: left;
} 
.quiz-box .option-container .option{
    background-color: #cccccc;
    padding:13px 15px;
    font-size: 16px;
    line-height: 22px;
    color:  #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
 animation: slideInLeft .5s ease forwards; 
}
.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
 animation: slideInLeft .5s ease forwards; 
}


@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform:translateX(0%);
    }
}

.quiz-box .option-container .option.correct{
    color: #ffffff;
}
.quiz-box .btn{
 margin: 15px 0;   
}
.quiz-box .answer-indicator{
    border-top:1px solid #cccccc;
}
.quiz-box .answer-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    margin-right: 3px;
    margin-top: 15px;
    border-radius: 50%;
}

.quiz-box .answer-indicator div.correct{
    background-color: green;
    background-image: url(../img/correct.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;

}
.quiz-box .answer-indicator div.wrong{
    background-color: red;
    background-image: url(../img/wrong.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0 ;
}
.result-box table td{
    border: 1px solid #271717;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    width: 50%;
    font-size: 18px;
} 
.result-box .btn{
    margin-right: 20px;
}

@media(max-width:767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }
}
